# Project
PROJECT_NAME=maroquiz

# Application
APP_PORT=8000

# PostgreSQL
POSTGRES_DB=maroquiz
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Mailpit
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_CLIENT_ID=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
