<div class="header">

    <h2>

        {{ 'auth.forgotPassword.title' | transloco }}

    </h2>

    <p>

        {{ 'auth.forgotPassword.description' | transloco }}

    </p>

</div>

@if(!emailSent()){

<form
    [formGroup]="form"
    (ngSubmit)="submit()">

    <app-text-field
        formControlName="email"
        icon="mail"
        label="{{ 'auth.email' | transloco }}"
        placeholder="{{ 'auth.placeholders.email' | transloco }}">
    </app-text-field>

    <app-primary-button
        type="submit">

        {{
            authState.loading()
                ? ('auth.forgotPassword.sending' | transloco)
                : ('auth.forgotPassword.send' | transloco)
        }}

    </app-primary-button>

</form>

<div class="footer">

    <a routerLink="/login">

        {{ 'auth.backToLogin' | transloco }}

    </a>

</div>

} @else {

<div class="success">

    <span class="material-symbols-rounded icon">

        mark_email_read

    </span>

    <h3>

        {{ 'auth.forgotPassword.successTitle' | transloco }}

    </h3>

    <p>

        {{ 'auth.forgotPassword.successMessage' | transloco }}

    </p>

    <app-primary-button
        routerLink="/login">

        {{ 'auth.backToLogin' | transloco }}

    </app-primary-button>

</div>

}