.theme-switcher{

    width:44px;

    height:44px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    background:var(--glass-bg);

    backdrop-filter:blur(20px);

    color:var(--text);

    transition:.25s;

}

.theme-switcher:hover{

    transform:translateY(-2px);

    background:var(--primary);

    color:white;

}