<header class="topbar">

    <div>

        <h2>Welcome 👋</h2>

        <small>Ready for today's challenges?</small>

    </div>

    <div class="actions">

        <button>

            <span class="material-symbols-rounded">
                dark_mode
            </span>

        </button>

        <button>

            <span class="material-symbols-rounded">
                notifications
            </span>

        </button>

        <div class="avatar">

            B

        </div>

    </div>

</header>