<header class="topbar">

    <div>

        <h2>
            {{ 'topbar.welcome' | transloco }}
        </h2>

        <small>
            {{ 'topbar.subtitle' | transloco }}
        </small>

    </div>

    <div class="actions">

        <button>

            <span class="material-symbols-rounded">
                dark_mode
            </span>

        </button>

        <button>

            <span class="material-symbols-rounded">
                notifications
            </span>

        </button>

        <div class="avatar">

            B

        </div>

    </div>

</header>