<div class="social-login">

    <div class="divider">

        <span>{{ 'auth.orContinueWith' | transloco }}</span>

    </div>

    <div class="social-buttons">

        <button
            type="button"
            class="social-btn"
            (click)="login('google')">

            <img
                src="assets/icons/google.svg"
                alt="Google">

            <span>Google</span>

        </button>

        <button
            type="button"
            class="social-btn"
            (click)="login('facebook')">

            <img
                src="assets/icons/facebook.svg"
                alt="Facebook">

            <span>Facebook</span>

        </button>

        <button
            type="button"
            class="social-btn"
            (click)="login('apple')">

            <img
                src="assets/icons/apple.svg"
                alt="Apple">

            <span>Apple</span>

        </button>

    </div>

</div>