.sidebar {

    width: 270px;
    height: 100vh;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;

    padding: 1.5rem;

    background: var(--glass-background);
    backdrop-filter: var(--glass-blur);

    border-right: 1px solid var(--border);

}

.logo{

    display:flex;
    align-items:center;
    gap:.8rem;

    font-size:1.4rem;
    font-weight:700;

    margin-bottom:3rem;

    color:var(--primary);

}

.logo .material-symbols-rounded{

    font-size:34px;

}

nav{

    display:flex;
    flex-direction:column;
    gap:.5rem;

}

nav a{

    display:flex;
    align-items:center;
    gap:1rem;

    padding:1rem;

    border-radius:var(--radius-md);

    transition:var(--transition-normal);

    color:var(--text-secondary);

}

nav a:hover{

    background:rgba(91,124,250,.10);

    color:var(--primary);

}

nav a.active{

    background:var(--primary);

    color:white;

}

.material-symbols-rounded{

    font-size:22px;

}