<aside class="sidebar">

    <div class="logo">
        <span class="material-symbols-rounded">school</span>
        <span>QuizAtlas</span>
    </div>

    <nav>

        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <span class="material-symbols-rounded">home</span>
            <span>Home</span>
        </a>

        <a routerLink="/dashboard" routerLinkActive="active">
            <span class="material-symbols-rounded">dashboard</span>
            <span>Dashboard</span>
        </a>

        <a>
            <span class="material-symbols-rounded">quiz</span>
            <span>Quizzes</span>
        </a>

        <a>
            <span class="material-symbols-rounded">menu_book</span>
            <span>Subjects</span>
        </a>

        <a>
            <span class="material-symbols-rounded">school</span>
            <span>Majors</span>
        </a>

        <a>
            <span class="material-symbols-rounded">leaderboard</span>
            <span>Statistics</span>
        </a>

    </nav>

</aside>