<div class="field">

    <label
        [class.active]="focused || value">

        {{ label }}

    </label>

    <div
        class="wrapper"
        [class.focused]="focused"
        [class.error]="error">

        <span class="material-symbols-rounded">

            lock

        </span>

        <input
    [type]="visible ? 'text' : 'password'"
    [placeholder]="focused ? placeholder : ''"
    [disabled]="disabled"
    [ngModel]="value"
    (ngModelChange)="update($event)"
    (focus)="focused = true"
    (blur)="focused = false; onTouched()">

        <button
            type="button"
            class="toggle"
            (click)="toggle()">

            <span class="material-symbols-rounded">

                {{ visible ? 'visibility_off' : 'visibility' }}

            </span>

        </button>

    </div>

    @if(error){

        <small>{{error}}</small>

    }

</div>