<div class="welcome">

    <app-logo></app-logo>

    <h1>

        Welcome Back

    </h1>

    <p>

        Continue your learning journey with QuizAtlas.
        Practice, improve your skills and monitor your progress.

    </p>

    <div class="stats">

        <div>

            <h2>5000+</h2>

            <span>Questions</span>

        </div>

        <div>

            <h2>250+</h2>

            <span>Quizzes</span>

        </div>

        <div>

            <h2>100%</h2>

            <span>Free</span>

        </div>

    </div>

</div>