<div class="welcome">

    <app-logo></app-logo>

    <h1>
        {{ 'welcome.title' | transloco }}
    </h1>

    <p>
        {{ 'welcome.description' | transloco }}
    </p>

    <div class="stats">

        <div>
            <h2>5000+</h2>
            <span>{{ 'welcome.questions' | transloco }}</span>
        </div>

        <div>
            <h2>250+</h2>
            <span>{{ 'welcome.quizzes' | transloco }}</span>
        </div>

        <div>
            <h2>100%</h2>
            <span>{{ 'welcome.free' | transloco }}</span>
        </div>

    </div>

</div>