.layout {

    display: flex;

    min-height: 100vh;

    /* Background image with fallback color */
  background-image: url('/assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.layout__content {

    display: flex;

    flex-direction: column;

    flex: 1;

}

.layout__page {

    flex: 1;

    padding: 2rem;

}