<div class="header">

    <h2>

        {{ 'auth.resetPassword.title' | transloco }}

    </h2>

    <p>

        {{ 'auth.resetPassword.description' | transloco }}

    </p>

</div>

@if (!passwordChanged()) {

<form
    [formGroup]="form"
    (ngSubmit)="submit()">

    <app-text-field
        formControlName="email"
        icon="mail"
        [readonly]="true"
        label="{{ 'auth.email' | transloco }}">
    </app-text-field>

    <app-password-field
        formControlName="password"
        label="{{ 'auth.resetPassword.newPassword' | transloco }}"
        placeholder="{{ 'auth.resetPassword.newPasswordPlaceholder' | transloco }}">
    </app-password-field>

    <app-password-field
        formControlName="password_confirmation"
        label="{{ 'auth.resetPassword.confirmPassword' | transloco }}"
        placeholder="{{ 'auth.resetPassword.confirmPasswordPlaceholder' | transloco }}">
    </app-password-field>

    <app-primary-button type="submit">

        {{
            authState.loading()
                ? ('auth.resetPassword.resetting' | transloco)
                : ('auth.resetPassword.reset' | transloco)
        }}

    </app-primary-button>

</form>

<div class="footer">

    <a routerLink="/login">

        {{ 'auth.backToLogin' | transloco }}

    </a>

</div>

} @else {

<div class="success">

    <span class="material-symbols-rounded icon">

        verified

    </span>

    <h3>

        {{ 'auth.resetPassword.successTitle' | transloco }}

    </h3>

    <p>

        {{ 'auth.resetPassword.successMessage' | transloco }}

    </p>

    <app-primary-button
        (click)="login()">

        {{ 'auth.login' | transloco }}

    </app-primary-button>

</div>

}