<div class="header">

   <button
    class="tab active"
    routerLink="/login">

    {{ 'auth.login' | transloco }}

</button>

<button
    class="tab"
    routerLink="/register">

    {{ 'auth.signup' | transloco }}

</button>

</div>

<form [formGroup]="form" (ngSubmit)="login()">

    <app-text-field
        formControlName="email"
        [label]="'auth.email' | transloco"
        [placeholder]="'auth.enter_email' | transloco"
        icon="mail">
    </app-text-field>

    <app-password-field
        formControlName="password"
        [label]="'auth.password' | transloco"
        [placeholder]="'auth.enter_password' | transloco">
    </app-password-field>

    <div class="row">

        <app-checkbox>
            {{ 'auth.remember_me' | transloco }}
        </app-checkbox>

       <a routerLink="/forgot-password">

    {{ 'auth.forgotPassword.link' | transloco }}

</a>

    </div>

    <app-primary-button type="submit">

        {{
            authState.loading()
                ? ('auth.signing_in' | transloco)
                : ('auth.login' | transloco)
        }}

    </app-primary-button>

</form>

<app-divider></app-divider>

<div class="socials">

    <app-social-button
        icon="assets/icons/google.svg"
        text="Google">
    </app-social-button>

    <app-social-button
        icon="assets/icons/facebook.svg"
        text="Facebook">
    </app-social-button>

    <app-social-button
        icon="assets/icons/apple.svg"
        text="Apple">
    </app-social-button>

</div>