<section class="static-page">
  <div class="static-container">
    <h1>{{ 'faq.title' | transloco }}</h1>

    <div class="faq-list">
      <div class="faq-item" *ngFor="let item of items" [class.open]="item.open">
        <button type="button" class="faq-question" (click)="toggle(item)">
          <span>{{ 'faq.' + item.key + '_question' | transloco }}</span>
          <span class="material-symbols-rounded">{{ item.open ? 'remove' : 'add' }}</span>
        </button>
        <div class="faq-answer" *ngIf="item.open">
          <p>{{ 'faq.' + item.key + '_answer' | transloco }}</p>
        </div>
      </div>
    </div>
  </div>
</section>